.category {

  &--big {
    min-height: 50vh;
  }
  &__img {
    max-width: 100%;
    padding: 5vh;
    object-fit: contain;

    &-big {
      max-width: 100%;
      object-fit: contain;
    }

    @media (max-width: 992px) {
      &-big {
        margin: -20vw 0 -15vw;;
      }
    }
  }

  &__title,
  &__description{
    padding: 40px;
  }

  @media (max-width: 992px) {
    &__description {
      padding: 0 40px;
    }
  }

  @media (max-width: 1200px) {
    &__title,
    &__description {
      padding: 20px;
    }
  }

  &__btn {
    background-color: transparent;
    border: 1px solid $color-accent;
    padding: 14px (2* $gap) 10px;
    margin-top: 10px;
    position: relative;
    color: $color-accent;
    transition: all 0.3s ease-in-out;


    &::before {
      content: '';
      background: transparent;
      border: 1px solid $color-accent;
      margin-left: 10px;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 8px;
      left: 0;
      z-index: 10;
      transition: all 0.3s ease-in-out;

    }
    &:hover {
      padding: 12px (2* $gap) 12px;
      &::before {
        transform: translate(-10px, -8px);
        border: 1px solid rgba($color-accent, .1);
      }
    }
    }
  }

@media (min-width: 992px) {
  .mini p{
    color: transparent;
    position: relative;
    left: -50%;
    transition: left 0.3s ease-in-out;
    z-index: -100;
  }

  .mini img{
    transition: all 0.3s ease-in-out;
  }

  .mini:hover img {
    transform: scale(1.1);
  }

  .mini:hover {
    p{
      color: $color-dark;
      left: 0px;
      z-index: 100;
    }

    & .category__description {
      background-color: $color-light-grey;
    }
    & .bg-desc-light {
      background-color: $color-primary;
    }
  }
}


@media (max-width: 992px) {
  .mini p{
    display: none;
  }
}

@media (min-width: 992px) {
  .category-small {
    min-height: 23vw;
  }
}


.back {
  width: 100px;
  height: 100px;
  background-color: $color-accent-light;
  color: $color-light;

  &-link {
    &:hover,
    &:active {
      text-decoration: none;
      color: $color-accent;
    }
  }
}


.details {
  padding: 7vw 15vw;

  &__wrapper {
    padding: 3vw 15vw;
  }

  @media (max-width: 992px) {
    &__wrapper {
      padding: 5vw 5vw;
    }
  }

  &__title {
    padding-bottom: 2vw;
    font-weight: 700;
  }

  &__description {
    padding-right: 2.25vw;
  }

  &__price {
    padding: 20px 0;
    font-size: 1.2em;
    font-weight: 800;
  }

  &__btn {
    border: 1px solid $color-dark;
    padding: 15px 20px;
    width: 100%;
    background-color: transparent;
    transition: all 0.4s ease-in-out;
    margin-bottom: 10px;

    &:first-of-type {
      margin-right: 10px;

    }

    &:hover,
    &:active {
      background-color: $color-accent-light;
      color: $color-light;
      border-color: rgba($color-accent, 0.5);
    }
  }

  @media (min-width: 768px) and (max-width: 992px) {
    &__btn {
      font-size: 0.9em;
      padding: 15px 5px;
    }
  }
}

@media (max-width: 768px) {
  .details {
    padding: 5vw;
  }
}

@media (max-width: 576px) {
  .details {
    padding: 2vw;
  }
}


.line {
  height: 1px;
  width: 25vw;
  background-color: $color-accent-light;
}
